body {
    font-family: Arial, sans-serif;
    background-color: #fbdc6a;
}

header {
    /*background: linear-gradient(to right, #007bff, #00d4ff);*/
    background-color: black;
}

.upnav {
    background-color: black;
}
.navbar-nav .nav-link {
    color: white !important; /* Vaihda haluamaasi väriin */
}
.navbar-brand {
    color: #fbdc6a !important; /* Vaihda haluamasi väri */
    font-weight: bold; /* Lisää lihavointi, jos haluat */
}

.johdanto {
    position: relative;
    min-height: 50vh;
    z-index: 0;
    background-image: url("img/street.jpg");
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;

}

.etusivu-napit {
    position: relative;
    min-height: 40vh;
    z-index: 0;
    background-image: url("img/theatre.jpg");
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
}

.johdanto .text-box {
    position: relative; /* Tarvitaan, jotta ::before toimii */
    padding: 20px; /* Lisää tilaa tekstin ympärille */
    display: inline-block;
    z-index: 2;
}

.johdanto .text-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbdc6a; /* Vaalea laatikko */
    z-index: -1; /* Varmistaa, että laatikko on tekstin takana */
    border-radius: 10px; /* Pyöristetyt reunat */
}

.johdanto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Tummentaa taustaa */
    z-index: -2;
}

.etusivu-napit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Tummentaa taustaa */
    z-index: -1;
}

.btn {
    background-color: #760504;
    color:#fbdc6a; 
    font-family: Verdana, sans-serif;
}
.btn:hover {
    background-color: #4b0605;
    color: #fbdc6a; /* Vaihda tekstin väri keltaiseksi hover-tilassa */
} 
.etusivu-napit .etu {
    font-size: 1.5rem; /* Suurentaa tekstin kokoa */
    padding: 15px 30px; /* Lisää sisätilaa napin ympärille */
    border-radius: 10px; /* Pyöristää kulmia */
    border: none; /* Poistaa reunuksen */
}

.kysely {
    font-size: 1.2rem; /* Suurentaa tekstin kokoa */
    border-radius: 10px; /* Pyöristää kulmia */
    border: none; /* Poistaa reunuksen */
    padding: 15px 10px; /* Lisää sisätilaa napin ympärille */
    max-width: 300px;
}

.info {
    position: relative;
    min-height: 50vh;
    z-index: 0;
    background-color: #fbdc6a;
}

.sign {
    position: relative;
    min-height: 15vh;
    z-index: 0;
    background-image: url("img/ny-sign.jpg");
    background-size: 110%;
    background-position:1px 25%;
    background-repeat: no-repeat;

    display: flex;  
    padding-left: 50px;
    align-items: center; 
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #fbdc6a;
}

.sign::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Tummentaa taustaa */
    z-index: -1;
}

.shows {
    background-color:  #fbdc6a; /* Tummentaa taustaa */
    max-width: 800px;
    margin-left: 0;
}

.nav .nav-link{
    color: black;
}
.nav{
    border-bottom: 2px solid black; /* Muuttaa kaikkien tabien alapuolella olevan viivan värin */
}
.nav .nav-link.active {
    background-color: #746120 !important; /* Punainen tausta */
    color: white !important; /* Valkoinen teksti */
    font-weight: bold;
    border-color:  #746120;
} 
footer {
    padding-top: 30px; /* Lisää tilaa yläpuolelle */
    padding-bottom: 30px; /* Lisää tilaa alapuolelle */
    background-color: black;
    color: #fbdc6a;
    font-weight: bold;
}